:root {
  --bg-color: #0F0F1A;
  --logo-text-color: #818CF8;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: var(--bg-color);
}

.logo {
  color: var(--logo-text-color);
}

form.hidden {
  display: none;
}

.checked p {
  color: gray;
  text-decoration: line-through;
}